@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

.container {
    min-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 50px;

    border-radius: 5px;
    background-color: #F6762C;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

/* Шапка */

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.header__nav {

}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}




