@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    height: 50px;

    border-radius: 5px;
    background-color: #F6762C;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

/* Шапка */

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.header__nav {

}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}


/* WELCOME SECTION */

.welcome {
    min-height: 100vh;

    position: relative;
    z-index: -1;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url("../images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 47%;

}

.welcome__subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    font-size: 18px;
    opacity: 0.7;
    margin: 40px 0;
}

/* FOOS LIST  */

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;

    overflow: hidden;
    text-align: center;

    background-color: #312F30;
    border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}